{% extends "layout.html" %}
{% block css %}
    <link href="/static/style/image.css" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="/static/script/comment.js"></script>
{% endblock %}
{% block main %}
    <h1>{{imagedata.title}}</h1>
    <img src="/static/uploads/{{imagedata.uuid}}.jpg">
    <table>
        <tr>
            <td>Author</td>
            <td>{{imagedata.uploader}}</td>
        </tr>
        <tr>
            <td>UUID</td>
            <td>{{imagedata.uuid}}</td>
        </tr>
    </table>
    <h1>Comments</h1>
    {% if username %}
    <form id="commentsubmission" action="/action/comment/{{imagedata.uuid}}/" method="POST">
        <input type="text" name="comment" placeholder="your comment">
        <input type="submit" value="send">
    </form>
    {% endif %}
{% endblock %}