{% extends "layout.html" %}
{% block css %}{% endblock %}
{% block script %}{% endblock %}
{% block main %}
    <h1>Upload</h1>
    {% if username %}
    <form action="/action/upload/" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="title">
        <input type="file" name="file" accept="image/jpeg">
        <input type="submit" value="upload">
    </form>
    {% else %}
    <p class="message error">Permission denied</p>
    {% endif %}
{% endblock %}